body{
    box-sizing: border-box;
    background:linear-gradient(black, black,black,rgb(41, 0, 41),rgb(68, 0, 68), purple );
    background-attachment: fixed;
    color:white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    animation: fadeIn 1s; 
}

h1{
    font-size:80px;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  

.header{
    text-align:center;
}

.nav-bar{
    display:flex;
    justify-content: center;
    gap:30px;
    align-items: center;
}

p{
    text-align: start;
    margin:60px;    
}

button{
    background-color:black;
    color:white;
    border:2px white solid;
    border-radius:50px;
    text-align:center;
    display:flex;
    justify-content: center;
    padding:10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: all .2s ease-in-out;
}

button:hover{
    transform:scale(1.2);
}

.top{
    display:flex;
    justify-content: center;
    align-items: center;
    padding-left:20px;
    padding-right:20px;
}

a{
    text-decoration:none;
    color:white;
}