

body{
    background:linear-gradient(black, black,black,rgb(41, 0, 41),rgb(68, 0, 68), purple );
    background-attachment: fixed;
    color:white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    animation:fadeIn 1s; 
}

@keyframes fadeIn{
    0% { opacity: 0; }
    100% { opacity: 1; }
}

h1{
    display:flex;
    justify-content: center;
    font-size:80px;
}