

body{
    background:linear-gradient(black, black,black,rgb(8, 0, 8),rgb(19, 0, 19), rgb(39, 0, 39) );
    background-attachment: fixed;
    color:white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    animation:fadeIn 1s; 
}

@keyframes fadeIn{
    0% { opacity: 0; }
    100% { opacity: 1; }
}

h1{
    display:flex;
    justify-content: center;
    font-size:80px;
}

button{
    background-color:black;
    color:white;
    border:2px white solid;
    border-radius:50px;
    text-align:center;
    display:flex;
    justify-content: center;
    padding:10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: all .2s ease-in-out;
    cursor: pointer;
}

.top{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-left:20px;
    margin-right:20px;
}

.homeA{
    text-decoration: none;
    color:white;
}

button:hover{
    transform: scale(1.2);
}

#links{
    display: flex;
    align-items: start;
    flex-direction: column;
    margin-left:50px;
    gap:50px;
}

.linkStyle{
    margin:0;
    transition:all ease-in-out .2s;
    width: min-content;
}

.linkStyle:hover{
    transform: scale(1.2);
}

#linkStyleA{
    transition: all ease-in-out .2s;
    color:blue
}

#linkStyleA:hover{
    color:white
}

#goodreads{
    display: flex;
    align-items: center;
    gap:20px

}

#goodreadsImg{
    width:100px;
    height:100px;
}

#spotify{
    display: flex;
    align-items: center;
    gap:20px;
}

#spotifyImg{
    width: 100px;
    height:100px;
}

#letterboxd{
    display: flex;
    align-items: center;
    gap:20px;
}

#letterboxdImg{
    width: 100px;
    height:100px;
}